<div th:fragment="header">
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link " aria-current="page">Головна</a></li>
                <li class="nav-item"><a href="/gift" class="nav-link">Мій подарунок</a></li>
                <li class="nav-item"><a href="/addnew" class="nav-link">Додати</a></li>
                <li class="nav-item"><a href="/sort" class="nav-link">Сортування за вмістом цукру</a></li>
                <li class="nav-item"><a href="/sortbuparam" class="nav-link">Сортування </a></li>

            </ul>
        </header>
    </div>
</div>